.stories{
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stories-box{
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.stories-title{
    color: #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 20px;
}

.stories-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

}

.stories-img{
    width: 290px;
    height: 293px;
    border-radius: 8px;
    margin-bottom: 13px;
    object-fit: cover;
}

.stories-text-box,
.stories-container{
    width: 290px;
}

.stories-list-item{
    width: 100%;
    display: flex;
    justify-content: center;
}

.stories-view-all-link{
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

.stories-view-all-icon{
    margin-left: 11px;
}

.stories-card-box{
    margin: 0;
}

.stories-box-title{
    color: #000;
    font-family: "Inter";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.stories-box-text{
    color: #7D7987;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 23px;
}

.stories-box-link{
    color: #FB8F1D;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .stories{
        padding-bottom: 164px;
    }

    .stories-box{
        flex-direction: row;
        align-items: normal;
        margin-bottom: 0;
    }

    .stories-text-box,
    .stories-contaoner{
        width: 296px;
    }

    .stories-title{
        margin-top: 146px;
        margin-bottom: 54px;
    }

    .stories-view-all-link{
        margin-top: 165px;
        margin-bottom: 0;
    }

    .stories-list-item{
        width: calc((100% - 90px) / 2);
    }
}

@media screen and (min-width: 1220px) {
    .stories-list{
        gap: 30px;
    }

    .stories-img{
        width: 266px;
        height: 233px;
    }

    .stories-text-box,
    .stories-contaoner{
        width: 266px;
    }

    .stories-list-item{
        width: calc((100% - 90px) / 4);
    }
}